@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div#board {
    display: grid;
    grid-gap: 0;
}

div.unvisited {
    background-color: white;
    border: 1px solid black;
}

div.start {
    background-color: red;
    border: 1px solid black;
}

div.finish {
    background-color: green;
    border: 1px solid black;
}

div.visited {
    background-color: blue;
    border: 1px solid black;
}

div.shortestPath {
    background-color: pink;
    border: 1px solid black;
}

div.wall {
    background-color: orange;
    border: 1px solid black;
}

div.lightWeight {
    background-color: purple;
    border: 1px solid black;
}

div.normalWeight {
    background-color: cyan;
    border: 1px solid black;
}

div.heavyWeight {
    background-color: lime;
    border: 1px solid black;
}