@charset "utf-8";

/* Variables containing commonly used values */
:root 
{
    --main-background-color: #1db82a;
    --button-background-color: #79e082;
    --main-font-color: white;
    --main-border-color: white;
    --start-node-color: red;
    --finish-node-color: green;
    --visited-node-color: blue;
    --shortest-path-node-color: #f059eb;
    --wall-node-color: #fca62d;
    --light-weight-node-color: #32ccb2;
    --normal-weight-node-color: #e8dd19;
    --heavy-weight-node-color: #06d314;
    --visited-by-previous-algorithm-node-color: #5d52f7;
    --outline-thickness-25-percent: 0.5px;
    --outline-thickness-50-percent: 1.0px;
    --outline-thickness-75-percent: 1.5px;
    --outline-thickness-100-percent: 2.0px;
    /* Pushes outline inward and leaves room for 1px border */
    --outline-offset: -3px;
    --default-fontsize: 1.2rem;
}

/* These settings apply to all elements */
* 
{
	/* Includes padding and border size in an element's total width and height */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

div.overlay 
{
    opacity: 0.3;
}

div.menuBar 
{
    width: 100vw;
    height: 100px;
    background-color: var(--main-background-color);
    display: flex;
    justify-content: center;
}

div.mobileMenuButton
{
    width: 33px;
    height: 33px;
    top: 8.5px;
    position: fixed;
    display: none;
}

div#mobileNodeSelectionButton
{
    left: 10px;
    background-color: var(--main-background-color);
    cursor: pointer;
}

div#mobileSelectedNodeDisplay
{
    width: 21px;
    height: 21px;
    top: 6px;
    left: 6px;
    position: relative;
    background-color: var(--wall-node-color);
}

div#mobileNodeSelection
{
    /* Width of button + 2 * left offset so that button appears
        horizontally centered above this div */
    width: 53px;
    height: calc(100vh - 50px);
    top: 50px;
    left: 0;
    position: fixed;
    display: none;
    z-index: 2;
    background-color: var(--main-background-color);
    cursor: pointer;
}

button.mobileNodeOptionButtons
{
    width: 33px;
    height: 33px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
}

button#mobileWallSelectionButton
{
    background-color: var(--wall-node-color);
}

button#mobileLightWeightSelectionButton
{
    background-color: var(--light-weight-node-color);
}

button#mobileNormalWeightSelectionButton
{
    background-color: var(--normal-weight-node-color);
}

button#mobileHeavyWeightSelectionButton
{
    background-color: var(--heavy-weight-node-color);
}

button#mobileStartSelectionButton
{
    background-color: var(--start-node-color);
}

button#mobileFinishSelectionButton
{
    background-color: var(--finish-node-color);
}

p.mobileNodeOptionExplanation
{
    color: var(--main-font-color);
    font-size: 0.8rem;
    text-align: center;
    margin-top: 20px;
}

div.menuStyle 
{
    width: 75vw;
    background-color: inherit;
    display: flex;
    flex-wrap: nowrap;
    /* Display menu elements above the grid */
    z-index: 1;
}

div.dropDownWrapper 
{
    width: 10vw;
    display: inline-block;
    /* Top and bottom margin of 25px are necessary so that the wrapper has the same
        size as the button so that the hover pseudo class only triggers if the cursor
        is actually above the button */
    margin: 25px 0.625vw; 
    /* Ensures that the dropdown menu is above the 2d-grid */
    z-index: 1;
}

button.dropDownButton 
{
    width: inherit;
    height: 50px;
    background-color: var(--button-background-color);
    color: var(--main-font-color);
    font-size: var(--default-fontsize);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: 0 1vw 0 1vw;
    cursor: pointer;
}

button.dropDownButton:disabled 
{
    background-color: red;
}

div.dropDownMenu 
{
    width: inherit;
    background-color: var(--main-background-color);
    display: none;
}

div.radioButtonWrapper 
{
    width: inherit;
    /* Enable inline-flex in Safari */
    -webkit-display: inline-flex;
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding: 0.5vh 0.5vw;
}

div.radioButtonWrapper:hover 
{
    background-color: #3b423c;
}

/* Hide radio button */
div.radioButtonWrapper input 
{
    width: 0;
    visibility: hidden;
}

div.radioButtonWrapper input:checked + label 
{
    font-weight: bold;
}

div.radioButtonWrapper label 
{
    width: inherit;
    color: var(--main-font-color);
    font-size: 1.0rem;
    cursor: pointer;
}

button.mazeAlgorithmButton
{
    width: inherit;
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    font-size: 1.0rem;
    cursor: pointer;
    border: none;
    padding: 0.5vh 0.5vw;
}

button.mazeAlgorithmButton:hover
{
    background-color: #3b423c;
}

/* Place drop down menu of mazes above weights in
    mobile version */
div#mazeDropDownWrapper
{
    z-index: 3;
}

div.weightWrapper 
{
    /* width: 15vw; */
    width: inherit;
    /* height: 5vh; */
    height: 40px;
    background-color: inherit;
    -webkit-display: inline-flex;
    display: inline-flex;
}

div.nodeColorSquare 
{
    /* width: 2vw; */
    width: 30px;
    /* height: 4vh; */
    height: 30px;
    content: "";
    border: 1px solid var(--main-border-color);
    /* margin-top: calc((5vh - 4vh - 2px) / 2); */
    margin-top: 5px;
    /* margin-left: 0.5vw; */
    margin-left: 5px;
}

input.weightSlider 
{
    /* width: 8vw; */
    width: calc(100% - 60px);
    margin-left: 5px;
    margin-right: 5px;
}

div#lightWeightSquare 
{
    background-color: var(--light-weight-node-color);
}

div#normalWeightSquare
{
    background-color: var(--normal-weight-node-color);
}

div#heavyWeightSquare 
{
    background-color: var(--heavy-weight-node-color);
}

div.weightWrapper label 
{
    /* Same as wrapper */
    height: 40px;
    color: var(--main-font-color);
    font-size: var(--default-fontsize);
    text-align: center;
    margin-top: calc((40px - var(--default-fontsize)) / 2);
    margin-right: 5px;
}

label.switch 
{
    width: 10vw;
    height: 50px;
    display: inline-block;
    margin: 25px 0.625vw;
    background-color: red;
    color: var(--main-font-color);
    font-size: var(--default-fontsize);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: 0 1vw 0 1vw;
    cursor: pointer;
    text-align: center;
}

/* Hide default checkbox */
label.switch input 
{
    display: none;
}

span#directionsText 
{
    cursor: pointer;
    /* Centers the text of the switch vertically */
    position: relative;
    top: 2px;
}

span#directionsText:after 
{
    content: "Four Directions";
    font-size: var(--default-fontsize);
}

label.switch input:checked + span#directionsText:after 
{
    content: "Eight Directions";
}

span#cornerCuttingText
{
    cursor: pointer;
    position: relative;
    top: 2px;
}

span#cornerCuttingText:after 
{
    content: "No Corner Cutting";
    font-size: var(--default-fontsize);
}

label.switch input:checked + span#cornerCuttingText:after 
{
    content: "Corner Cutting";
}

button.menuButton 
{
    width: 10vw;
    height: 50px;
    margin: 25px 0.625vw;
    background-color: var(--button-background-color);
    color: var(--main-font-color);
    font-size: var(--default-fontsize);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: 0 1vw;
    cursor: pointer;
}

button.menuButton:disabled 
{
    background-color: red;
}

div#mobileOptionsButton 
{
    right: 10px;
}

div#mobileOptionsButton .bar 
{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    display: block;
}

div.descriptionBar 
{
    width: 100vw;
    display: flex;
    justify-content: center;
    /* Allow elements that don't fit on the same line
        to be placed in a new line below */
    flex-wrap: wrap;
    /* Create a black border at the bottom */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

div.nodeExplanationWrapper 
{
    height: 50px;
    background-color: inherit;
    -webkit-display: inline-flex;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: 1vw;
}

div.nodeExplanationWrapper label 
{
    margin-left: 0.5vw;
    font-size: var(--default-fontsize);
}

div.nodeColor 
{
    width: 30px;
    height: 30px;
    content: "";
    margin-left: 0.5vw;
}

div#startNode 
{
    background-color: var(--start-node-color);
}

div#finishNode 
{
    background-color: var(--finish-node-color);
}

div#visitedNode 
{
    background-color: var(--visited-node-color);
}

div#shortestPathNode 
{
    background-color: var(--shortest-path-node-color);
}

div#wallNode 
{
    background-color: var(--wall-node-color);
}

div#lightWeightNode 
{
    background-color: var(--light-weight-node-color);
}

div#normalWeightNode 
{
    background-color: var(--normal-weight-node-color);
}

div#heavyWeightNode 
{
    background-color: var(--heavy-weight-node-color);
}

div#infoBox 
{
    width: 50vw;
    height: 70vh;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    /* Place the infobox above the grid and menu */
    z-index: 2;
    text-align: center;
}

div#currInfoBoxPage 
{
    color: black;
    font-size: 1.1rem;
    top: 1vh;
    right: 1vw;
    position: fixed;
}

button.infoBoxButton 
{
    width: 6vw;
    height: 4vh;
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    font-size: var(--default-fontsize);
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    position: fixed;
    cursor: pointer;
}

button.infoBoxButton:disabled 
{
    background-color: red;
}

h2.h2InfoBox 
{
    font-size: 3rem;
    margin-top: 1vh;
}

h3.h3InfoBox 
{
    font-size: 2rem;
    margin-top: 1vh;
}

p.pInfoBox 
{
    font-size: 1.5rem;
    margin: 3vh 2vw 0 2vw;
}

button#skipInfoBoxButton 
{
    left: 1vw;
    bottom: 1vh;
}

button#prevInfoBoxButton 
{
    right: 8vw;
    bottom: 1vh;
}

button#nextInfoBoxButton 
{
    right: 1vw;
    bottom: 1vh;
}

div#board 
{
    display: grid;
    grid-gap: 0;
}

div.unvisited 
{
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

div.start 
{
    cursor: pointer;
    background-color: var(--start-node-color);
    border: 1px solid black;
}

div.startVisited 
{
    cursor: pointer;
    border: 1px solid black;
    /* Create a blue border inside the square so that the red background color still
        shows the start and the blue outline shows that it has been visited */
    outline-offset: var(--outline-offset);
    animation-name: startVisitedAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    /* Center priority number. The priority */
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes startVisitedAnimation 
{
    0% 
    {
        background-color: white;
        transform: scale(0.3);
        border-radius: 100%;
    }

    25% 
    {
        background-color: #c94b4b;
        outline: var(--outline-thickness-25-percent) solid var(--visited-node-color);
    }

    50% 
    {
        background-color: #eb4949;
        transform: scale(1.20);
        outline: var(--outline-thickness-25-percent) solid var(--visited-node-color);
    }

    75% 
    {
        background-color: #d43d3d;
        outline: var(--outline-thickness-75-percent) solid var(--visited-node-color);
    }

    100% 
    {
        background-color: var(--start-node-color);
        transform: scale(1.0);
        outline: var(--outline-thickness-100-percent) solid var(--visited-node-color);
    }
}

div.startShortestPath 
{
    cursor: pointer;
    border: 1px solid black;
    outline-offset: var(--outline-offset);
    animation-name: startShortestPathAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes startShortestPathAnimation 
{
    0% 
    {
        background-color: white;
        transform: scale(0.3);
        border-radius: 100%;
    }

    25% 
    {
        background-color: #c94b4b;
        outline: var(--outline-thickness-25-percent) solid var(--shortest-path-node-color);
    }

    50% 
    {
        background-color: #eb4949;
        transform: scale(1.20);
        outline: var(--outline-thickness-50-percent) solid var(--shortest-path-node-color);
    }

    75% 
    {
        background-color: #d43d3d;
        outline: var(--outline-thickness-75-percent) solid var(--shortest-path-node-color);
    }

    100% 
    {
        background-color: var(--start-node-color);
        transform: scale(1.0);
        outline: var(--outline-thickness-100-percent) solid var(--shortest-path-node-color);
    }
}

div.finish 
{
    cursor: pointer;
    background-color: var(--finish-node-color);
    border: 1px solid black;
    /* Center priority number */
    display: flex;
    align-items: center;
    justify-content: center;
}

div.finishVisited 
{
    cursor: pointer;
    border: 1px solid black;
    outline-offset: var(--outline-offset);
    animation-name: finishVisitedAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes finishVisitedAnimation 
{
    0% 
    {
        background-color: white;
        transform: scale(0.3);
        border-radius: 100%;
    }

    25% 
    {
        background-color: #87ed8e;
        outline: var(--outline-thickness-25-percent) solid var(--visited-node-color);
    }

    50% 
    {
        background-color: #64f56e;
        transform: scale(1.20);
        outline: var(--outline-thickness-50-percent) solid var(--visited-node-color);
    }

    75% 
    {
        background-color: #2ae836;
        outline: var(--outline-thickness-75-percent) solid var(--visited-node-color);
    }

    100% 
    {
        background-color: var(--finish-node-color);
        transform: scale(1.0);
        outline: var(--outline-thickness-100-percent) solid var(--visited-node-color);
    }
}

div.finishShortestPath 
{
    cursor: pointer;
    border: 1px solid black;
    outline-offset: var(--outline-offset);
    animation-name: finishShortestPathAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes finishShortestPathAnimation 
{
    0% 
    {
        background-color: white;
        transform: scale(0.3);
        border-radius: 100%;
    }

    25% 
    {
        background-color: #87ed8e;
        outline: var(--outline-thickness-25-percent) solid var(--shortest-path-node-color);
    }

    50% 
    {
        background-color: #64f56e;
        transform: scale(1.20);
        outline: var(--outline-thickness-50-percent) solid var(--shortest-path-node-color);
    }

    75% 
    {
        background-color: #2ae836;
        outline: var(--outline-thickness-75-percent) solid var(--shortest-path-node-color);
    }

    100% 
    {
        background-color: var(--finish-node-color);
        transform: scale(1.0);
        outline: var(--outline-thickness-100-percent) solid var(--shortest-path-node-color);
    }
}

div.visited 
{
    cursor: pointer;
    border: 1px solid black;
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

@keyframes visitedAnimation 
{
    0% 
    {
        background-color: white;
        transform: scale(0.3);
        border-radius: 100%;
    }

    25% 
    {
        background-color: turquoise;
    }

    50% 
    {
        background-color: darkcyan;
        transform: scale(1.20);
    }

    75% 
    {
        background-color: royalblue;
    }

    100% 
    {
        background-color: var(--visited-node-color);
        transform: scale(1.0);
    }
}

/* Only used for multiple finish nodes. Make visited nodes from
    previous algorithm iteration less visible */
div.visitedByPreviousAlgorithm
{
    cursor: pointer;
    border: 1px solid black;
    background-color: var(--visited-by-previous-algorithm-node-color);
}

div.shortestPath 
{
    cursor: pointer;
    border: 1px solid black;
    animation-name: shortestPathAnimation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

@keyframes shortestPathAnimation 
{
    0% 
    {
        background-color: white;
        transform: scale(0.3);
        border-radius: 100%;
    }

    25% 
    {
        background-color: #f73bde;
    }

    50% 
    {
        background-color: #ce1cb6;
        transform: scale(1.20);
    }

    75% 
    {
        background-color: #dd4089;
    }

    100% 
    {
        background-color: var(--shortest-path-node-color);
        transform: scale(1.0);
    }
}

div.wall 
{
    cursor: pointer;
    background-color: var(--wall-node-color);
    border: 1px solid black;
}

div.lightWeight 
{
    cursor: pointer;
    background-color: var(--light-weight-node-color);
    border: 1px solid black;
}

div.normalWeight 
{
    cursor: pointer;
    background-color: var(--normal-weight-node-color);
    border: 1px solid black;
}

div.heavyWeight 
{
    cursor: pointer;
    background-color: var(--heavy-weight-node-color);
    border: 1px solid black;
}

@media screen and (max-width: 1900px) 
{
    button.dropDownButton,
    div.radioButtonWrapper label,
    button.menuButton,
    label.switch,
    span#directionsText:after,
    span#cornerCuttingText:after  
    {
        font-size: 1.0rem;
    }

    span#directionsText 
    {
        top: 5px;
    }

    span#cornerCuttingText 
    {
        top: 5px;
    }
}

@media screen and (max-width: 1300px) 
{
    button.dropDownButton,
    div.radioButtonWrapper label,
    button.menuButton,
    label.switch,
    span#directionsText:after,
    span#cornerCuttingText:after,
    div.weightWrapper label,
    div.nodeExplanationWrapper label 
    {
        font-size: 0.9rem;
    }

    div.nodeColor 
    {
        width: 30px;
        height: 30px;
    }

    h2.h2InfoBox 
    {
        font-size: 2.5rem;
    }
    
    h3.h3InfoBox 
    {
        font-size: 1.5rem;
    }
    
    p.pInfoBox 
    {
        font-size: 1.3rem;
    }

    img#cornerCuttingGif 
    {
        width: 500px;
    }
}

/* Enable desktop menu again if the user switched from mobile version
    to a higher resolution */
@media screen and (min-width: 1051px) 
{
    div#mobileNodeSelection
    {
        display: none !important;
    }

    div.menuStyle 
    {
        /* This overwrites the html-style attribute of display
            that's set by clicking the mobile menu button and 
            displays the entire menu if the user resizes the screen
            from mobile version to a larger one */
        display: flex !important;
        flex-wrap: nowrap;
        margin-top: 0;
        height: 100px;
        position: inline;
    }

    div#weightDropDownWrapper 
    {
        display: inline;
    }

    button#clearWeights
    {
        display: inline;
    }

    div.mobileMenuButton 
    {
        display: none;
    }

    div#infoBox 
    {
        width: 50vw;
        height: 70vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    button.infoBoxButton 
    {
        width: 6vw;
    }

    button#prevInfoBoxButton 
    {
        right: 8vw;
    }

    img#movementGif 
    {
        display: inline;
    }

    img#cornerCuttingGif 
    {
        display: inline;
    }

    img#directionsImg 
    {
        display: inline;
    }

    div.nodeExplanationWrapper
    {
        height: 50px;
    }

    div.nodeColor 
    {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1150px) 
{
    button.dropDownButton,
    div.radioButtonWrapper label,
    button.menuButton,
    label.switch,
    span#directionsText:after,
    span#cornerCuttingText:after
    {
        font-size: 0.8rem;
    }

    span#directionsText 
    {
        top: 7px;
    }

    span#cornerCuttingText 
    {
        top: 7px;
    }

    h2.h2InfoBox 
    {
        font-size: 2.0rem;
    }
    
    h3.h3InfoBox 
    {
        font-size: 1.25rem;
    }
    
    p.pInfoBox 
    {
        font-size: 1.1rem;
    }

    img#cornerCuttingGif 
    {
        width: 400px;
    }
}

/* Switch to mobile design */
@media screen and (max-width: 1050px) 
{
    div.menuBar 
    {
        height: 50px;
    }

    div.menuStyle 
    {
        width: 100vw;
        height: 50vh;
        top: 50px;
        display: none;
        flex-wrap: wrap;
        flex-direction: column;
        position: fixed;
        z-index: 1;
    } 

    div.mobileMenuButton 
    {
        display: block;
    }

    /* Each button now occupies 1/3 of the screen */
    label.switch,
    button.menuButton,
    div.dropDownWrapper
    {
        width: 30vw;
        height: 33px;
        /* (Menu bar height - element) / 2 for equal top and bottom margin.
            1.66 vw as left and right margin + 30vw width of button
            is 33.32 vw which is close to 1/3 of the screen */
        margin: 8.5px 1.66vw;
    }

    button.dropDownButton 
    {
        height: 33px;
    }

    button#animateAlgorithm 
    {
        width: 30vw;
        height: 33px;
        margin: 8.5px 20px;
    }

    div.nodeColor 
    {
        width: 20px;
        height: 20px;
    }

    div.nodeExplanationWrapper
    {
        height: 30px;
    }

    div.nodeExplanationWrapper label
    {
        font-size: 0.8rem;
    }

    div#infoBox 
    {
        width: 100vw;
        top: 15%;
        left: 0%;
        transform: translate(0%, -15%);
    }

    h2.h2InfoBox 
    {
        font-size: 1.5rem;
    }
    
    h3.h3InfoBox 
    {
        font-size: var(--default-fontsize);
    }
    
    p.pInfoBox 
    {
        font-size: 0.9rem;
    }

    button.infoBoxButton 
    {
        width: 15vw;
    }

    button#prevInfoBoxButton
    {
        right: 20vw;
    }
}

@media screen and (max-height: 800px) 
{
    img#movementGif 
    {
        height: 150px;
    }
}

@media screen and (max-height: 700px) 
{
    img#movementGif 
    {
        height: 120px;
    }

    img#directionsImg 
    {
        height: 130px;
    }
}

@media screen and (max-height: 600px) 
{
    img#movementGif 
    {
        height: 100px;
    }

    img#directionsImg 
    {
        height: 100px;
    }
}