@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 1px solid black;
}

div#board {
    display: grid;
    grid-gap: 0;
}

div.visited {
    background-color: blue;
}

div.start {
    background-color: red;
}

div.finish {
    background-color: green;
}

div.unvisited {
    background-color: white;
}

div#board {
    margin-left: 100px;
}